# We really don't need the binary files Ren'py makes, and they're annoying.
game/bytecode.rpyb
*.rpyc
*.sai
*.psd
*~
/launcherinfo.py
errors.txt
traceback.txt
log.txt
/tmp

/game/Sprites/Kyon/KyonSkinsuitTemplate.sai
/game/Sprites/Kyon/KyonCostumeTemplate.sai
/game/KBDH VN-prologue-all.zip
/game/Backgrounds/stairwell.psd

/game/Sprites/Kanae/Kanae.sai
/game/Backgrounds/Roofclose.psd

/game/Backgrounds/ClubBack - ··?.png

/game/Backgrounds/ClubBack - ··
/game/Sprites/Sakanaka/Sakanaka.psd
/game/Sprites/Mikurynge.png
/game/Sprites/Mikurynge.sai
/game/Sprites/Effects/inkscape_pasted_image_20120610_205058.png
/game/Sprites/Kanae/DoneExpressions.png
/game/Sprites/Kanae/Kanaebesteyes.png
/game/Sprites/Kanae/Kanaenightgown.png
/game/Sprites/Kanae/Kanaestarkers.png
/game/Sprites/Kanae/MikuruTemplate1.png
/game/Sprites/Kyon/.gitignore
/game/Sprites/Mori/mori.rar