# We really don't need the binary files Ren'py makes, and they're annoying.
game/bytecode.rpyb
game/*.rpyc
*~
/launcherinfo.py

/game/Sprites/Kyon/KyonSkinsuitTemplate.sai
/game/Sprites/Kyon/KyonCostumeTemplate.sai